<ion-view title="Grafico" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input">
                <input type="date" placeholder="Data Inicial">
            </label>
            <label class="item item-input">
                <input type="date" placeholder="Data Final">
            </label>
        </div>
        <div class="row aligner">
            <div class="aligner-item">
                <div class="col col-10">
                    <button class="button button-energized">
                        Gravar
                    </button>
                </div>
            </div>
            <div class="col col-10">
                <button class="button button-light">
                    Limpar
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
