<ion-view title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <br/>
        <div class="container">
            <table class="table table-hover table-striped table-responsive" style="border: 1px solid #eee">
                <tr>
                    <th>Data</th>
                    <th>Glicemia</th>
                    <th>Motivo</th>
                </tr>
                <tr ng-repeat="item in glicemia">
                    <td>{{item.Data | date: 'hh:mm'}}</td>
                    <td>{{item.Valor}}</td>
                    <td>{{item.Descricao}}</td>
                </tr>
            </table>
        </div>
    </ion-content>
</ion-view>
