<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable bar-dark">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header dark">
      <ion-list>
        <a class="item item-dark" nav-clear menu-close href="#/app/home">
          Home
        </a>
        <a class="item item-dark" nav-clear menu-close href="#/app/paciente">
          Paciente
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/glicemia">
          Glicemia
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/editar">
          Editar
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/motivos">
          Motivos
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/observacao">
          Observação
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/insulinaRapida">
          Insulina Rapida
        </a>
        <a class="item item-positive" nav-clear menu-close href="#/app/insulinaBasal">
          Insulina Basal
        </a>
        <a class="item item-energized" nav-clear menu-close href="#/app/grafico">
          Grafico
        </a>
        <a class="item item-energized" nav-clear menu-close href="#/app/a1c">
          A1C
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>